{% load static %}
{% block styles%}
    <link rel="stylesheet" href="{% static 'css/single_image.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock%}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">
            <div class="card mb-5">
                <div class="card-title">
                    <p>
                        <a href="#"><img style="border-radius: 30px;" src="{{ image.profile.profile_picture }}" alt="" width="30px" height="30px">
                        <span class="ml-2" style="color: brown;">{{ image.profile }}</span>
                        </a>
                    </p>
                </div>
                <img src="{{ image.image.url }}" class="card-img-top" alt="..." width="30px" height="500px">
                <div class="card-body">
                    <a style="margin-right: 10px;" href=""><img src="{% static 'images/heart.svg'%}" alt=""></a>
                    <br>
                    <p class="mt-3">{% firstof image.likes.count "0" %} likes </p>
                    <hr>
                    <p><span style="color: brown;">{{ image.profile }}</span>--{{ image.caption }}</p>
                    {%if comments %}
                        {% for comment in comments %}
                        <p style="width: 100%;">
                            <a style="text-decoration: none; color: black;" href="">
                                <img src="{{ comment.image.profile.profile_picture }}" alt="" width="15px" height="15px" style="border-radius: 20px;">
                                <strong class="mr-2">{{ comment.image.profile }}</strong> <span style="float: right; font-size: 15px;" class="text-muted">{{ comment.pub_date | date}}</span></p>
                            </a>
                            {{ comment.body }}
                            <hr>
                        {% endfor %}
                        {% else %}
                        <p>{% firstof image.comments.count "no" %} comments</p>
                        <p style="font-style: italic;">Add one</p>
                        {% endif %}
                        <div class="comment-section">
                            <form action="#" method="POST">
                                {%csrf_token%}
                                {{ form.body }}
                                <button class="btn btn-outline-info mt-3" type="submit">Add comment</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>