{% extends 'base.html'%}
{% block content %}
{% load static %}
<div class="row" style="height: 40vh; background-color: whitesmoke;">
    <div class="col-md-3 col-sm-3">
        <img src="{% static 'images/koi.png'%}" alt="" style="height: 200px; width: 200px;">
        <h3>{{user.profile}}</h3>
        <p><small>{{ user.profile.firstname }} {{ user.profile.lastname }}</small></p> 
    </div>
    <div class="col-md-3 col-sm-6"></div>
    <div class="col-md-6 col-sm-6">
        <p>{{ user.bio }}</p>           
        {% if user.is_authenticated %}
        <a href="{% url 'gram-profile-update' %}" class="btn" style="border: 2px solid black;">Edit Profile</a>
        {% endif %}
    </div>
</div>
<hr>
<div class="text-center mb-4 mr-4">
    <img src="{% static 'images/grid.svg' %}" alt="">
</div>
<hr>
<div class="row">
    {% for image in images %}
    <div class="flex-container" style="display: flex;flex-wrap: wrap; justify-content: space-between;">  
        <img src="{{image.image.url}}" alt="" class="flex-item mb-5 mr-4" width="200px" height="200px">
    </div>
    {% endfor %}
</div>
{% endblock%}